body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-image: url('Hbg.png');
    background-size: cover;
    background-position: center;
    height: 800px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #296372;
    padding: 15px 50px 15px 50px;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
#homeactive{
    color: rgb(81, 188, 255);
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin-left: 20px;
    position: relative;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 5px;
    display: block;
}
.navbar-menu a:hover {
    color: rgb(81, 188, 255);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a87a38a;
    min-width: 160px;
    z-index: 1;
    
}
.dropdown-content li {
    margin-left: none;
    border-bottom: 1.5px solid #01bfef;
    list-style-type: none;
}
.dropdown-content a {
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.drop3 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a87a38a;
    min-width: 160px;
    z-index: 1;
    margin-top: 20px;
}
.header-content {
    padding: 0;
    text-align: left;
    margin-left: 80px;
}
.hcon {
    font-size: 48px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    width: 30%;
}
.hp1{
    width: 48%;
    margin-bottom: 30px;
}
.hbtn{
    width: 100px;
    height: 30px;
    border: 1.5px solid white;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 200px;
}
.hbtn:hover {
    background-color: aqua;
    border: none;
}
#icon1{
    color: #23bde3;
    background-color: #3e7886;
    padding: 8px;
    border-radius: 50%;
    margin: 20px 15px 40px 10px;
}
.coninfo{
    display: flex;
    width: 20%;
}
.contact{
    display: flex;
    background-color: #296372;
    color: white;
    justify-content: center;
    padding-top: 20px;
}
#icon1:hover{
    color: white;
    background-color: #1b9fc0;
}
.m1{
    font-size: 12px;
}
.m2{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.colu-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    flex: 2;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 60px;
}
#icon2{
    font-size: 20px;
    background-color: #296372;
    padding: 10px;
    color: white;
    position: relative;
    top: 17px;
    left: 300px;
}
.items h1{
    font-size: 20px;
}
.pcol1 {
    font-size: 15px;
    color: black;
}
.pcol2 a {
    font-size: 15px;
    color: black;
}
.items1{
    border: 1.5px solid #01bfef;
    padding: 0px 15px 5px 15px;
}
.items1:hover{
    border: 1.5px solid #01bfef;
    background-color: #296372;
    color: white;
}
.items1:hover .pcol1{
    color: white;
}
.items1:hover a{
    color: #01bfef;
}
.items:hover #icon2{
    background-color: #01bfef;
}
.our{
    margin-top: 100px;
    margin-bottom: 100px;
}
.list10{
    display: flex;
    gap: 30px;
}

.cont{
    display: flex;
    background-color: white;
    margin: 70px;
    padding: 50px;
    gap: 150px;
    position: relative;
    top: 100px;
}
.fcon{
    background-image: url(2bg.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}
.lh{
    font-size: 20px;
}
.listing p{
    margin-bottom: 25px;
}
.listing b{
    padding: 5px 10px;
    background-color: #23bde3;
    border-radius: 50%;
    color: white;
}
p:hover b{
    background-color: #3e7886;
}
.admincol{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    flex: 2;
    margin: 60px 35px 20px;
}
.imgad{
    width: 100%;
}
.adp1{
    font-size: 13px;
}
.adp1 b{
    font-size: 24px;
    color: slategray;
    font-family: arial;
    font-weight: lighter;
}
.adp1 i{
    font-size: 12px;
}
strong{
    color: #23bde3;
}
.adp2{
    font-size: 20px;
    color: #23bde3;
}
.adp3{
    font-size: 20px;
}
.admincon{
    margin-top: 80px;
}
.formcon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    flex: 2;
    background-color: #296372;
    color: white;
    padding: 30px 15px;
}
.formitems h1{
    font-size: 20px;
}
.formitems i{
    font-size: 23px;
    padding: 8px;
    background-color: #3e7886;
    margin-left: 5px;
    margin-top: 20px;
}
.formitems a{
    text-decoration: none;
    color: #01bfef;
}
.formitems input{
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: none;
    padding-left: 10px;
    margin-top: 15px;
    background-color: #5babc0;
}
.formitems button{
    width: 25%;
    height: 25px;
    border-radius: 6px;
    background-color: #1b9fc0;
    border: none;
    margin-top: 15px;
   color: white;
}
.fp1{
    font-size: 13px;
}
.fp1 b{
    font-size: 18px;
    color: #45daff;
}
footer{
    display: flex;
    background-color: #0d93b4;
    color: white;
    padding: 15px 50px;
}
.fl{
    margin-left: 45%;
}
.headerm{
    display: none;
}


/* mobile screen */
@media (max-width: 600px) {
    body{
        width: 100%;
    }
    .navbar {
        display: none;
    }
    header {
        height: 700px;
    }

    .header-content {
        margin-left: 30px;
        margin-bottom: 100px;
    }
    .hcon {
        font-size: 40px;
        width: 80%;
    }
    .hp1{
        width: 90%;
        margin-bottom: 60px;
        font-size: 18px;
    }
    .hbtn{
        display: block;
        width: 100px;
        height: 30px;
        border: 1.5px solid white;
        background-color: transparent;
        color: white;
        border-radius: 8px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    #icon1{
        font-size: 20px;
        padding: 10px;
        border-radius: 50%;
        margin: 10px 25px 40px 10px;
    }
    .coninfo{
        display: flex;
        width: 100%;
        font-size: 18px;
        margin-left: 20px;
    }
    .contact{
        display: block;
        background-color: #296372;
        color: white;
        justify-content: center;
        padding-top: 30px;
    }
    .m1{
        font-size: 14px;
    }
    .m2{
        font-size: 23px;
    }
    .colu-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        flex: 2;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 60px;
    }
    #icon2{
        font-size: 30px;
        background-color: #296372;
        padding: 10px;
        color: white;
        position: relative;
        top: 20px;
        left: 80%;
    }
    .items h1{
        font-size: 23px;
    }
    .pcol1 {
        font-size: 18px;
        color: black;
    }
    .pcol2 a {
        font-size: 18px;
        color: black;
    }
    .items1{
        border: 1.5px solid #01bfef;
        padding: 0px 15px 5px 15px;
    }
    .items1:last-child{
        padding-bottom: 5px;
    }
    .items1:hover .pcol1{
        color: white;
    }
    .items1:hover a{
        color: #01bfef;
    }
    .items:hover #icon2{
        background-color: #01bfef;
    }
    .our{
        margin-bottom: none;
    }
    .list10{
        display: block;
        gap: 30px;
    }
    
    .cont{
        display: block;
        background-color: white;
        margin: 5%;
        padding: 20px;
        gap: 150px;
        position: relative;
        top: 100px;
    }
    .side1 img{
        width: 100%;
    }
    .fcon{
        height: 1250px;  
    }
    .admincol{
        display: block;
        grid-template-columns: repeat(1, 1fr);
        gap: 100px;
        flex: 2;
        margin: 60px 35px 40px;
    }
    .imgad{
        width: 100%;
    }
    .adp1{
        font-size: 17px;
    }
    .adp1 b{
        font-size: 25px;
        color: slategray;
        font-family: arial;
        font-weight: lighter;
    }
    .adp1 i{
        font-size: 17px;
    }
    strong{
        color: #23bde3;
    }
    .adp2{
        font-size: 23px;
        color: #23bde3;
    }
    .adp3{
        font-size: 20px;
    }
    .admincon{
        margin-top: 80px;
    }
    .formcon{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        flex: 2;
        background-color: #296372;
        color: white;
        padding: 30px 15px;
    }
    .formitems h1{
        font-size: 23px;
    }
    .formitems i{
        font-size: 23px;
        padding: 8px;
        background-color: #3e7886;
        margin-left: 5px;
        margin-top: 20px;
    }
    .formitems a{
        text-decoration: none;
        color: #01bfef;
    }
    .formitems input{
        width: 95%;
        height: 40px;
        border-radius: 7px;
        border: none;
        padding-left: 10px;
        margin-top: 15px;
        background-color: #5babc0;
    }
    .formitems button{
        width: 25%;
        height: 35px;
        border-radius: 6px;
        background-color: #1b9fc0;
        border: none;
        margin-top: 15px;
       color: white;
    }
    .fp1{
        font-size: 15px;
    }
    .fp1 b{
        font-size: 22px;
        color: #45daff;
    }
    footer{
        display: block;
        background-color: #0d93b4;
        color: white;
        padding: 15px 15px;
    }
    .fl{
        margin-left: 0;
    }


   
    
    .headerm {
        background-color: #35616A;
        padding: 20px;
        text-align: center;
        margin: 15% 5%;
        display: block;
    }
    
    .headerm h1 {
        margin: 0;
        color: white;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        padding-bottom: 15px;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropbtn {
        background-color: #fff;
        color: black;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 330px;
        
    }
    
    .dropdown-content {
        display: none;
        position: block;
        background-color: #fff;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #3c94ff;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
        
    .content {
        text-align: center;
        margin-top: 50px;
    }
    
    .button {
        padding: 15px 30px;
        font-size: 18px;
        border: none;
        cursor: pointer;
        margin: 10px;
    }
    
    .blue {
        background-color: #3DB8FF;
        color: white;
    }
    
    .white {
        background-color: white;
        color: black;
        border: 2px solid black;
    }
    
}
